In [1]:
! pip install numpy pandas seaborn matplotlib scikit-learn xgboost

Requirement already satisfied: numpy in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (1.26.4)
Requirement already satisfied: pandas in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: seaborn in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (0.13.2)
Requirement already satisfied: matplotlib in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (3.9.2)
Requirement already satisfied: scikit-learn in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (1.5.1)
Requirement already satisfied: xgboost in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: scipy>=1.6.0 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in /Applications/anaconda3/envs/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score, classification_report, precision_score, recall_score


import warnings
warnings.filterwarnings('ignore')

# job = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_job.csv')
resume = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_resume.csv')

In [3]:
pd.set_option('max_colwidth', 800)

In [4]:
resume.head(4)

,Category,cleaned_resume,LabelEncoding
0,Data Science,programming language python pandas numpy scipy scikitlearn matplotlib sql java javascriptjquery machine learn regression svm nave baye knn random forest decision tree boost technique cluster analysis word embed sentiment analysis natural language process dimensionality reduction topic model lda nmf pca neural net database visualization mysql sqlserver cassandra hbase elasticsearch d3js dcjs plotly kibana matplotlib ggplot tableau other regular expression html css angular 6 logstash kafka python flask git docker computer vision open cv understand deep learningeducation detail datum science assurance associate datum science assurance associate ernst young llp skill detail javascript exprience 24 month jquery exprience 24 month python exprience 24 monthscompany detail company ernst young ...,21
1,Data Science,education detail may 2013 may 2017 uitrgpv data scientist data scientist matelabs skill detail python exprience less 1 year month statsmodels exprience 12 month aw exprience less 1 year month machine learn exprience less 1 year month sklearn exprience less 1 year month scipy exprience less 1 year month keras exprience less 1 year monthscompany detail company matelab description ml platform business professional dummy enthusiast 60a koramangala 5th block achievementstask behind sukh sagar bengaluru india develop deploy auto preprocessing step machine learn mainly miss value treatment outli detection encode scale feature selection dimensionality reduction deploy automate classification regression model linkedincominadityarathore b4600b146 reasearch deploy time series forecasting model ar...,21
2,Data Science,area interest deep learn control system design programming inpython electric machinery web development analytic technical activity q hindustan aeronautic limit bangalore 4 week guidance mr satish senior engineer hangar mirage 2000 fighter aircraft technical programming matlab python java labview python webframeworkdjango flask ltspiceintermediate language mipowerintermediate github gitbash jupyter notebook xampp mysqlbasics python software package interpretersanaconda python2 python3 pycharm java ideeclipse operating system windows ubuntu debiankali linux education detail january 2019 btech electrical electronics engineering manipal institute technology january 2015 deeksha center january 2013 little flower public school august 2000 manipal academy high datum science data science elect...,21
3,Data Science,r python sap hana tableau sap hana sql sap hana pal ms sql sap lumira c linear programming datum model advance analytic scm analytic retail analytic social medium analytic nlp education detail january 2017 january 2018 pgdm business analytic great lakes institute management illinois institute technology january 2013 bachelor engineering electronic communication bengaluru karnataka new horizon college engineering bangalore visvesvaraya technological university datum science consultant consultant deloitte usi skill detail linear programming exprience 6 month retail exprience 6 month retail marketing exprience 6 month scm exprience 6 month sql exprience less 1 year month deep learn exprience less 1 year month machine learn exprience less 1 year month python exprience less 1 year month r e...,21

In [5]:
resume.describe()

       LabelEncoding
count    3446.000000
mean       22.567324
std        13.891596
min         0.000000
25%        11.000000
50%        23.000000
75%        34.000000
max        47.000000

In [6]:
resume.isnull().sum()

Category          0
cleaned_resume    1
LabelEncoding     0
dtype: int64

In [11]:
resume['cleaned_resume'] = resume['cleaned_resume'].fillna("")

### Train - Test Split

In [12]:
x = resume['cleaned_resume'].values
y = resume['Category'].values

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=45, test_size=0.25,stratify=y)
x_train.shape, x_test.shape

((2584,), (862,))

### TF-IDF Vectorization

In [14]:
tfidf_vector = TfidfVectorizer(sublinear_tf=True,stop_words='english')

In [15]:
x_train = tfidf_vector.fit_transform(x_train)
x_test = tfidf_vector.transform(x_test)

In [16]:
x_train.shape, x_test.shape

((2584, 43535), (862, 43535))

In [17]:
print(y_train),print(y_test)

['Business Analyst' 'FITNESS' 'Java Developer' ... 'CHEF' 'HEALTHCARE'
 'DevOps Engineer']
['ACCOUNTANT' 'CONSTRUCTION' 'TEACHER' 'ENGINEERING' 'APPAREL'
 'Network Security Engineer' 'INFORMATION-TECHNOLOGY' 'Python Developer'
 'HEALTHCARE' 'CONSTRUCTION' 'HEALTHCARE' 'BUSINESS-DEVELOPMENT'
 'HEALTHCARE' 'ADVOCATE' 'Python Developer' 'DIGITAL-MEDIA' 'BANKING'
 'CONSULTANT' 'HR' 'Database' 'ETL Developer' 'ENGINEERING' 'HEALTHCARE'
 'ARTS' 'Arts' 'AVIATION' 'BANKING' 'DESIGNER' 'FITNESS'
 'INFORMATION-TECHNOLOGY' 'Hadoop' 'DevOps Engineer' 'AVIATION'
 'HEALTHCARE' 'Mechanical Engineer' 'CONSTRUCTION' 'DESIGNER' 'CHEF'
 'BUSINESS-DEVELOPMENT' 'AVIATION' 'DESIGNER' 'ENGINEERING' 'FINANCE'
 'CONSULTANT' 'CHEF' 'AGRICULTURE' 'BANKING' 'BUSINESS-DEVELOPMENT'
 'AVIATION' 'TEACHER' 'INFORMATION-TECHNOLOGY' 'DIGITAL-MEDIA' 'TEACHER'
 'FITNESS' 'DIGITAL-MEDIA' 'CONSULTANT' 'Hadoop' 'DIGITAL-MEDIA'
 'PUBLIC-RELATIONS' 'AUTOMOBILE' 'TEACHER' 'ARTS' 'DIGITAL-MEDIA' 'ARTS'
 'Java Developer' 'APPAREL' 'TEACHER' 'CONSULTANT' 'CONSTRUCTION' 'HR'
 'Civil Engineer' 'CHEF' 'CHEF' 'BANKING' 'HR' 'Advocate' 'BPO'
 'ENGINEERING' 'SAP Developer' 'Java Developer' 'ARTS' 'APPAREL' 'Arts'
 'BUSINESS-DEVELOPMENT' 'DevOps Engineer' 'ARTS' 'Mechanical Engineer'
 'AGRICULTURE' 'INFORMATION-TECHNOLOGY' 'TEACHER' 'ACCOUNTANT' 'Testing'
 'HR' 'CONSTRUCTION' 'SALES' 'PUBLIC-RELATIONS' 'SALES' 'AVIATION'
 'ADVOCATE' 'BANKING' 'DotNet Developer' 'BANKING' 'Java Developer' 'HR'
 'AVIATION' 'ENGINEERING' 'AVIATION' 'Automation Testing' 'AVIATION'
 'CONSTRUCTION' 'ETL Developer' 'HEALTHCARE' 'AGRICULTURE' 'ENGINEERING'
 'Web Designing' 'ADVOCATE' 'AUTOMOBILE' 'FINANCE' 'HEALTHCARE'
 'DIGITAL-MEDIA' 'TEACHER' 'DevOps Engineer' 'CONSULTANT' 'ADVOCATE'
 'HEALTHCARE' 'Python Developer' 'Hadoop' 'AVIATION' 'HEALTHCARE' 'ARTS'
 'INFORMATION-TECHNOLOGY' 'ENGINEERING' 'APPAREL' 'Data Science'
 'DESIGNER' 'BUSINESS-DEVELOPMENT' 'CONSTRUCTION' 'FITNESS' 'SALES'
 'CONSTRUCTION' 'Data Science' 'HR' 'ADVOCATE' 'APPAREL' 'AVIATION'
 'BANKING' 'AVIATION' 'AVIATION' 'ADVOCATE' 'SALES' 'BUSINESS-DEVELOPMENT'
 'ACCOUNTANT' 'ACCOUNTANT' 'DevOps Engineer' 'CONSTRUCTION' 'HR'
 'Operations Manager' 'Civil Engineer' 'HEALTHCARE' 'Database'
 'BUSINESS-DEVELOPMENT' 'CONSULTANT' 'Python Developer' 'ADVOCATE'
 'CONSTRUCTION' 'TEACHER' 'INFORMATION-TECHNOLOGY' 'CONSTRUCTION' 'HR'
 'ADVOCATE' 'FINANCE' 'BANKING' 'ACCOUNTANT' 'ACCOUNTANT' 'Testing'
 'ACCOUNTANT' 'FINANCE' 'Electrical Engineering' 'HR' 'SALES' 'FITNESS'
 'Testing' 'DIGITAL-MEDIA' 'ACCOUNTANT' 'AGRICULTURE' 'ADVOCATE'
 'ADVOCATE' 'DIGITAL-MEDIA' 'HR' 'Health and fitness' 'BANKING' 'ARTS'
 'PUBLIC-RELATIONS' 'SAP Developer' 'ADVOCATE' 'FINANCE'
 'PUBLIC-RELATIONS' 'SALES' 'AGRICULTURE' 'ENGINEERING' 'DIGITAL-MEDIA'
 'Database' 'FINANCE' 'BANKING' 'PUBLIC-RELATIONS' 'FITNESS' 'ACCOUNTANT'
 'DESIGNER' 'DevOps Engineer' 'Java Developer' 'Testing' 'APPAREL'
 'APPAREL' 'INFORMATION-TECHNOLOGY' 'AVIATION' 'FINANCE' 'FITNESS' 'CHEF'
 'ACCOUNTANT' 'Sales' 'BANKING' 'DIGITAL-MEDIA' 'Web Designing'
 'DIGITAL-MEDIA' 'DESIGNER' 'Java Developer' 'Business Analyst' 'SALES'
 'Java Developer' 'TEACHER' 'AVIATION' 'FINANCE' 'TEACHER' 'ADVOCATE'
 'Advocate' 'CHEF' 'Java Developer' 'ADVOCATE' 'PMO' 'HR'
 'PUBLIC-RELATIONS' 'DESIGNER' 'Data Science' 'ENGINEERING' 'ENGINEERING'
 'SALES' 'CHEF' 'FINANCE' 'Java Developer' 'PUBLIC-RELATIONS'
 'Python Developer' 'DevOps Engineer' 'ARTS' 'BUSINESS-DEVELOPMENT'
 'AGRICULTURE' 'ADVOCATE' 'TEACHER' 'INFORMATION-TECHNOLOGY'
 'PUBLIC-RELATIONS' 'Data Science' 'Automation Testing'
 'Electrical Engineering' 'Java Developer' 'FINANCE' 'HEALTHCARE'
 'Health and fitness' 'PMO' 'Database' 'Blockchain' 'ACCOUNTANT'
 'SAP Developer' 'CONSTRUCTION' 'SALES' 'SALES' 'CONSULTANT' 'Hadoop'
 'INFORMATION-TECHNOLOGY' 'BUSINESS-DEVELOPMENT' 'ACCOUNTANT' 'ADVOCATE'
 'Mechanical Engineer' 'APPAREL' 'CONSTRUCTION' 'FINANCE' 'DESIGNER'
 'HEALTHCARE' 'DIGITAL-MEDIA' 'Business Analyst' 'BUSINESS-DEVELOPMENT'
 'FITNESS' 'Business Analyst' 'HR' 'ETL Developer' 'Data Science'
 'CONSULTANT' 'HEALTHCARE' 'INFORMATION-TECHNOLOGY' 'CHEF' 'BPO'
 'CONSTRUCTION' 'ACCOUNTANT' 'CONSULTANT' 'HEALTHCARE' 'HR' 'Blockchain'
 'Java Developer' 'Electrical Engineering' 'CONSULTANT' 'CHEF'
 'Business Analyst' 'FITNESS' 'HEALTHCARE' 'INFORMATION-TECHNOLOGY'
 'Business Analyst' 'FINANCE' 'SALES' 'SAP Developer' 'HR' 'Web Designing'
 'FITNESS' 'ACCOUNTANT' 'FITNESS' 'DIGITAL-MEDIA' 'Sales' 'TEACHER'
 'INFORMATION-TECHNOLOGY' 'Blockchain' 'CONSULTANT' 'Web Designing'
 'APPAREL' 'PUBLIC-RELATIONS' 'Operations Manager' 'DESIGNER' 'FITNESS'
 'HEALTHCARE' 'Java Developer' 'APPAREL' 'ETL Developer' 'Arts'
 'INFORMATION-TECHNOLOGY' 'FINANCE' 'PMO' 'TEACHER' 'Testing' 'DESIGNER'
 'HR' 'BUSINESS-DEVELOPMENT' 'DotNet Developer' 'Operations Manager'
 'Mechanical Engineer' 'BUSINESS-DEVELOPMENT' 'DESIGNER' 'Java Developer'
 'HR' 'CONSTRUCTION' 'HEALTHCARE' 'ACCOUNTANT' 'Data Science'
 'PUBLIC-RELATIONS' 'TEACHER' 'Sales' 'Health and fitness'
 'Mechanical Engineer' 'BANKING' 'CONSTRUCTION' 'Health and fitness'
 'CONSULTANT' 'INFORMATION-TECHNOLOGY' 'CONSTRUCTION' 'PUBLIC-RELATIONS'
 'PUBLIC-RELATIONS' 'DevOps Engineer' 'ARTS' 'ARTS' 'FITNESS' 'TEACHER'
 'Sales' 'DevOps Engineer' 'ACCOUNTANT' 'FINANCE' 'ADVOCATE'
 'CONSTRUCTION' 'DESIGNER' 'AUTOMOBILE' 'CHEF' 'Mechanical Engineer'
 'DESIGNER' 'PUBLIC-RELATIONS' 'Electrical Engineering' 'ENGINEERING'
 'DIGITAL-MEDIA' 'AUTOMOBILE' 'Sales' 'INFORMATION-TECHNOLOGY'
 'ENGINEERING' 'AVIATION' 'Health and fitness' 'APPAREL' 'SALES'
 'PUBLIC-RELATIONS' 'Operations Manager' 'INFORMATION-TECHNOLOGY'
 'CONSULTANT' 'SALES' 'BUSINESS-DEVELOPMENT' 'DIGITAL-MEDIA' 'CONSULTANT'
 'ARTS' 'CHEF' 'CONSTRUCTION' 'Arts' 'ENGINEERING' 'Operations Manager'
 'Hadoop' 'TEACHER' 'ACCOUNTANT' 'SALES' 'ADVOCATE' 'CHEF' 'BANKING'
 'Testing' 'PUBLIC-RELATIONS' 'PUBLIC-RELATIONS' 'ENGINEERING' 'APPAREL'
 'FINANCE' 'Civil Engineer' 'FINANCE' 'INFORMATION-TECHNOLOGY' 'BANKING'
 'ARTS' 'FINANCE' 'DotNet Developer' 'BUSINESS-DEVELOPMENT' 'AGRICULTURE'
 'Arts' 'CONSTRUCTION' 'BANKING' 'Data Science' 'SALES' 'Java Developer'
 'TEACHER' 'Automation Testing' 'INFORMATION-TECHNOLOGY' 'HEALTHCARE'
 'Network Security Engineer' 'AVIATION' 'SALES' 'BPO' 'DIGITAL-MEDIA'
 'CONSULTANT' 'PUBLIC-RELATIONS' 'CHEF' 'APPAREL' 'BUSINESS-DEVELOPMENT'
 'CHEF' 'CHEF' 'Web Designing' 'Business Analyst' 'Testing' 'Blockchain'
 'INFORMATION-TECHNOLOGY' 'CONSTRUCTION' 'Sales' 'FITNESS' 'CHEF'
 'ACCOUNTANT' 'HR' 'CONSULTANT' 'CHEF' 'HR' 'BUSINESS-DEVELOPMENT'
 'ENGINEERING' 'CONSULTANT' 'Database' 'CONSTRUCTION' 'ACCOUNTANT'
 'Hadoop' 'FITNESS' 'TEACHER' 'Blockchain' 'AUTOMOBILE'
 'Mechanical Engineer' 'Sales' 'INFORMATION-TECHNOLOGY' 'CONSULTANT'
 'DESIGNER' 'FINANCE' 'CHEF' 'ADVOCATE' 'ENGINEERING' 'CONSULTANT'
 'ACCOUNTANT' 'BUSINESS-DEVELOPMENT' 'HR' 'CONSULTANT' 'FINANCE'
 'BUSINESS-DEVELOPMENT' 'SAP Developer' 'Operations Manager' 'HEALTHCARE'
 'APPAREL' 'ACCOUNTANT' 'ENGINEERING' 'APPAREL' 'HR' 'FITNESS'
 'CONSULTANT' 'SALES' 'ARTS' 'Web Designing' 'BUSINESS-DEVELOPMENT'
 'Sales' 'Java Developer' 'HEALTHCARE' 'FINANCE' 'INFORMATION-TECHNOLOGY'
 'AVIATION' 'APPAREL' 'INFORMATION-TECHNOLOGY' 'FINANCE' 'Hadoop'
 'CONSTRUCTION' 'SAP Developer' 'Civil Engineer' 'CONSULTANT' 'DESIGNER'
 'Python Developer' 'AGRICULTURE' 'Network Security Engineer' 'AVIATION'
 'PMO' 'Database' 'FINANCE' 'ENGINEERING' 'Testing' 'FITNESS'
 'ETL Developer' 'HEALTHCARE' 'APPAREL' 'BUSINESS-DEVELOPMENT'
 'CONSULTANT' 'CHEF' 'ACCOUNTANT' 'AGRICULTURE' 'CONSTRUCTION'
 'DIGITAL-MEDIA' 'DESIGNER' 'CHEF' 'Java Developer' 'BPO' 'AVIATION'
 'FITNESS' 'SALES' 'DESIGNER' 'FINANCE' 'CHEF' 'HR' 'BANKING'
 'PUBLIC-RELATIONS' 'ADVOCATE' 'Advocate' 'FITNESS' 'AVIATION' 'CHEF'
 'AGRICULTURE' 'FITNESS' 'HEALTHCARE' 'ENGINEERING' 'Java Developer'
 'Web Designing' 'BANKING' 'HR' 'CONSULTANT' 'PUBLIC-RELATIONS'
 'DotNet Developer' 'HEALTHCARE' 'AVIATION' 'TEACHER' 'DotNet Developer'
 'HR' 'AVIATION' 'Data Science' 'Arts' 'HEALTHCARE' 'ARTS' 'CHEF'
 'BUSINESS-DEVELOPMENT' 'INFORMATION-TECHNOLOGY' 'DIGITAL-MEDIA'
 'DevOps Engineer' 'Hadoop' 'DIGITAL-MEDIA' 'Testing' 'AGRICULTURE'
 'DESIGNER' 'DevOps Engineer' 'Electrical Engineering' 'CHEF' 'TEACHER'
 'FINANCE' 'DESIGNER' 'Hadoop' 'AUTOMOBILE' 'DevOps Engineer' 'FITNESS'
 'Java Developer' 'FINANCE' 'INFORMATION-TECHNOLOGY' 'DIGITAL-MEDIA'
 'PUBLIC-RELATIONS' 'BUSINESS-DEVELOPMENT' 'ETL Developer'
 'INFORMATION-TECHNOLOGY' 'PMO' 'ETL Developer' 'Testing' 'ARTS'
 'ETL Developer' 'HEALTHCARE' 'INFORMATION-TECHNOLOGY' 'HEALTHCARE'
 'DESIGNER' 'PUBLIC-RELATIONS' 'HR' 'CONSULTANT' 'CHEF' 'ADVOCATE'
 'Testing' 'CONSTRUCTION' 'Sales' 'ARTS' 'ACCOUNTANT'
 'BUSINESS-DEVELOPMENT' 'Python Developer' 'CHEF' 'Python Developer'
 'BANKING' 'Health and fitness' 'ARTS' 'AUTOMOBILE' 'HR' 'CHEF' 'BANKING'
 'FITNESS' 'DESIGNER' 'BANKING' 'PUBLIC-RELATIONS' 'ADVOCATE'
 'Java Developer' 'SALES' 'TEACHER' 'ADVOCATE' 'AUTOMOBILE'
 'PUBLIC-RELATIONS' 'INFORMATION-TECHNOLOGY' 'ENGINEERING'
 'Operations Manager' 'BUSINESS-DEVELOPMENT' 'Civil Engineer' 'Testing'
 'APPAREL' 'ADVOCATE' 'ENGINEERING' 'Testing' 'Blockchain' 'FITNESS' 'HR'
 'DevOps Engineer' 'DotNet Developer' 'SALES' 'Automation Testing'
 'APPAREL' 'BPO' 'PUBLIC-RELATIONS' 'DESIGNER' 'ADVOCATE' 'FITNESS' 'HR'
 'TEACHER' 'Blockchain' 'SALES' 'ADVOCATE' 'ARTS' 'BUSINESS-DEVELOPMENT'
 'Civil Engineer' 'ENGINEERING' 'FITNESS' 'Python Developer'
 'Web Designing' 'ETL Developer' 'ARTS' 'HEALTHCARE' 'AVIATION'
 'Health and fitness' 'FINANCE' 'Blockchain' 'BANKING' 'APPAREL' 'FITNESS'
 'APPAREL' 'DESIGNER' 'Mechanical Engineer' 'Data Science' 'ARTS'
 'AGRICULTURE' 'DESIGNER' 'BUSINESS-DEVELOPMENT' 'DevOps Engineer'
 'ENGINEERING' 'APPAREL' 'ENGINEERING' 'Arts' 'Arts' 'SALES' 'Testing'
 'Network Security Engineer' 'ARTS' 'FINANCE' 'FITNESS' 'Sales'
 'Web Designing' 'AVIATION' 'Network Security Engineer' 'SALES' 'ARTS'
 'Database' 'AUTOMOBILE' 'HR' 'INFORMATION-TECHNOLOGY' 'DotNet Developer'
 'HR' 'Python Developer' 'ENGINEERING' 'APPAREL' 'BANKING' 'DIGITAL-MEDIA'
 'DESIGNER' 'Python Developer' 'DESIGNER' 'TEACHER' 'Advocate' 'HR'
 'APPAREL' 'INFORMATION-TECHNOLOGY' 'Operations Manager' 'ARTS'
 'Java Developer' 'Business Analyst' 'SALES' 'ARTS' 'FITNESS' 'SALES'
 'CHEF' 'PMO' 'TEACHER' 'CHEF' 'SALES' 'ACCOUNTANT' 'Web Designing' 'HR'
 'Blockchain' 'HR' 'SALES' 'ACCOUNTANT' 'ACCOUNTANT' 'Automation Testing'
 'BUSINESS-DEVELOPMENT' 'SALES' 'DIGITAL-MEDIA' 'Java Developer' 'TEACHER'
 'ADVOCATE' 'HEALTHCARE' 'DESIGNER' 'CONSULTANT' 'PUBLIC-RELATIONS' 'ARTS'
 'FINANCE' 'ACCOUNTANT' 'Automation Testing' 'FINANCE' 'FITNESS' 'BANKING'
 'Data Science' 'DIGITAL-MEDIA' 'ARTS' 'ENGINEERING' 'ACCOUNTANT'
 'DevOps Engineer' 'Mechanical Engineer' 'CONSTRUCTION' 'BANKING'
 'AGRICULTURE' 'INFORMATION-TECHNOLOGY' 'FINANCE' 'TEACHER' 'ENGINEERING'
 'ADVOCATE' 'AGRICULTURE' 'AVIATION' 'BANKING' 'HR' 'FITNESS' 'CONSULTANT'
 'Python Developer' 'BANKING' 'BUSINESS-DEVELOPMENT' 'Mechanical Engineer'
 'Database' 'AVIATION' 'ADVOCATE' 'AVIATION' 'BUSINESS-DEVELOPMENT' 'CHEF'
 'PUBLIC-RELATIONS' 'ENGINEERING' 'AGRICULTURE' 'Testing'
 'BUSINESS-DEVELOPMENT' 'AVIATION' 'SALES' 'ADVOCATE'
 'Network Security Engineer' 'Blockchain' 'Testing' 'ADVOCATE'
 'Operations Manager' 'HR' 'BANKING' 'ACCOUNTANT' 'AVIATION'
 'Electrical Engineering' 'BANKING' 'Testing' 'CONSTRUCTION'
 'Web Designing' 'AGRICULTURE' 'HR' 'Advocate' 'CONSULTANT'
 'PUBLIC-RELATIONS' 'ACCOUNTANT' 'DIGITAL-MEDIA' 'ENGINEERING' 'HR'
 'BANKING' 'CONSTRUCTION' 'PUBLIC-RELATIONS' 'HEALTHCARE' 'HR'
 'Java Developer' 'HR' 'Electrical Engineering' 'Hadoop' 'HR' 'CONSULTANT'
 'PMO' 'Arts' 'ETL Developer' 'ENGINEERING' 'Operations Manager']

(None, None)

### Classification Models

#### Logistic Regression

In [19]:
model_lgr = LogisticRegression()
model_lgr.fit(x_train, y_train)

y_pred = model_lgr.predict(x_test)
accuracy_lgr = accuracy_score(y_test, y_pred)


print(f"Accuracy: {accuracy_lgr:.2f}")
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.72
Classification Report:
                            precision    recall  f1-score   support

               ACCOUNTANT       0.77      0.90      0.83        30
                 ADVOCATE       0.51      0.60      0.55        30
              AGRICULTURE       1.00      0.19      0.32        16
                  APPAREL       0.82      0.38      0.51        24
                     ARTS       0.38      0.12      0.18        26
               AUTOMOBILE       0.00      0.00      0.00         9
                 AVIATION       0.67      0.76      0.71        29
                 Advocate       1.00      0.60      0.75         5
                     Arts       1.00      1.00      1.00         9
       Automation Testing       1.00      1.00      1.00         6
                  BANKING       0.67      0.62      0.64        29
                      BPO       0.00      0.00      0.00         5
     BUSINESS-DEVELOPMENT       0.43      0.60      0.50        30
               Blockchain       1.00      1.00      1.00        10
         Business Analyst       1.00      1.00      1.00         7
                     CHEF       0.90      0.87      0.88        30
             CONSTRUCTION       0.66      0.82      0.73        28
               CONSULTANT       0.71      0.17      0.28        29
           Civil Engineer       1.00      0.67      0.80         6
                 DESIGNER       0.74      0.63      0.68        27
            DIGITAL-MEDIA       0.72      0.54      0.62        24
             Data Science       1.00      1.00      1.00        10
                 Database       1.00      1.00      1.00         8
          DevOps Engineer       1.00      0.86      0.92        14
         DotNet Developer       1.00      1.00      1.00         7
              ENGINEERING       0.62      0.60      0.61        30
            ETL Developer       1.00      1.00      1.00        10
   Electrical Engineering       1.00      1.00      1.00         7
                  FINANCE       0.71      0.57      0.63        30
                  FITNESS       0.83      0.66      0.73        29
               HEALTHCARE       0.50      0.62      0.55        29
                       HR       0.74      0.95      0.83        39
                   Hadoop       1.00      1.00      1.00        10
       Health and fitness       1.00      1.00      1.00         7
   INFORMATION-TECHNOLOGY       0.55      0.93      0.69        30
           Java Developer       1.00      1.00      1.00        21
      Mechanical Engineer       1.00      1.00      1.00        10
Network Security Engineer       1.00      1.00      1.00         6
       Operations Manager       1.00      1.00      1.00        10
                      PMO       1.00      1.00      1.00         7
         PUBLIC-RELATIONS       0.58      0.79      0.67        28
         Python Developer       1.00      1.00      1.00        12
                    SALES       0.31      0.52      0.39        29
            SAP Developer       1.00      1.00      1.00         6
                    Sales       1.00      1.00      1.00        10
                  TEACHER       0.57      0.81      0.67        26
                  Testing       1.00      1.00      1.00        17
            Web Designing       1.00      1.00      1.00        11

                 accuracy                           0.72       862
                macro avg       0.80      0.77      0.76       862
             weighted avg       0.73      0.72      0.70       862

#### KNN Classifier

#### Random Forest Classifier