In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.svm import SVC
from xgboost import XGBClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import f1_score, classification_report, precision_score, recall_score


import warnings
warnings.filterwarnings('ignore')

# job = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_job.csv')
resume = pd.read_csv('/Users/senghok/Desktop/Cleaned_resume.csv')

In [34]:
from sklearn.preprocessing import LabelEncoder

In [86]:
pd.set_option('max_colwidth', 800)

In [87]:
resume.head(4)

,Category,cleaned_resume,LabelEncoding
0,Data Science,programming language python pandas numpy scipy scikitlearn matplotlib sql java javascriptjquery machine learn regression svm nave baye knn random forest decision tree boost technique cluster analysis word embed sentiment analysis natural language process dimensionality reduction topic model lda nmf pca neural net database visualization mysql sqlserver cassandra hbase elasticsearch d3js dcjs plotly kibana matplotlib ggplot tableau other regular expression html css angular 6 logstash kafka python flask git docker computer vision open cv understand deep learningeducation detail datum science assurance associate datum science assurance associate ernst young llp skill detail javascript exprience 24 month jquery exprience 24 month python exprience 24 monthscompany detail company ernst young ...,6
1,Data Science,education detail may 2013 may 2017 uitrgpv data scientist data scientist matelabs skill detail python exprience less 1 year month statsmodels exprience 12 month aw exprience less 1 year month machine learn exprience less 1 year month sklearn exprience less 1 year month scipy exprience less 1 year month keras exprience less 1 year monthscompany detail company matelab description ml platform business professional dummy enthusiast 60a koramangala 5th block achievementstask behind sukh sagar bengaluru india develop deploy auto preprocessing step machine learn mainly miss value treatment outli detection encode scale feature selection dimensionality reduction deploy automate classification regression model linkedincominadityarathore b4600b146 reasearch deploy time series forecasting model ar...,6
2,Data Science,area interest deep learn control system design programming inpython electric machinery web development analytic technical activity q hindustan aeronautic limit bangalore 4 week guidance mr satish senior engineer hangar mirage 2000 fighter aircraft technical programming matlab python java labview python webframeworkdjango flask ltspiceintermediate language mipowerintermediate github gitbash jupyter notebook xampp mysqlbasics python software package interpretersanaconda python2 python3 pycharm java ideeclipse operating system windows ubuntu debiankali linux education detail january 2019 btech electrical electronics engineering manipal institute technology january 2015 deeksha center january 2013 little flower public school august 2000 manipal academy high datum science data science elect...,6
3,Data Science,r python sap hana tableau sap hana sql sap hana pal ms sql sap lumira c linear programming datum model advance analytic scm analytic retail analytic social medium analytic nlp education detail january 2017 january 2018 pgdm business analytic great lakes institute management illinois institute technology january 2013 bachelor engineering electronic communication bengaluru karnataka new horizon college engineering bangalore visvesvaraya technological university datum science consultant consultant deloitte usi skill detail linear programming exprience 6 month retail exprience 6 month retail marketing exprience 6 month scm exprience 6 month sql exprience less 1 year month deep learn exprience less 1 year month machine learn exprience less 1 year month python exprience less 1 year month r e...,6

In [88]:
resume.describe()

       LabelEncoding
count     962.000000
mean       12.968815
std         7.051694
min         0.000000
25%         7.000000
50%        13.000000
75%        19.000000
max        24.000000

In [89]:
resume.isnull().sum()

Category          0
cleaned_resume    0
LabelEncoding     0
dtype: int64

In [66]:
resume.shape

(962, 3)

### Train - Test Split

In [51]:
x = resume['cleaned_resume'].values  #feature variable
y = resume['LabelEncoding'].values   #target variable

### TF-IDF Vectorization

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=45, test_size=0.2,stratify=y)

(769,)

In [55]:
tfidf_vector = TfidfVectorizer(sublinear_tf=True,stop_words='english')

In [57]:
x__train = tfidf_vector.fit_transform(x_train)

x__test = tfidf_vector.transform(x_test)


x_train_dense = np.array(x__train.todense())

x_test_dense = np.array(x__test.todense())

In [68]:
x__train.shape

(769, 6729)

### Classification Models

#### Logistic Regression

In [58]:
model_lgr = LogisticRegression()
model_lgr.fit(x_train_dense, y_train)

y_pred = model_lgr.predict(x_test_dense)

In [64]:
accuracy_lgr = accuracy_score(y_test, y_pred)

In [65]:
print(accuracy_lgr)

1.0

#### KNN Classifier

#### Random Forest Classifier

In [61]:
random_FR = RandomForestClassifier()
random_FR.fit(x_train_dense,y_train)
y_pred_FR = model_lgr.predict(x_test_dense)

In [62]:
accuracy_FR = accuracy_score(y_test, y_pred_FR)

In [63]:
accuracy_FR

1.0