In [1]:
# ! pip install pandas numpy matplotlib scikit-learn nltk spacy

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

warnings.filterwarnings('ignore')

job = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_job.csv')
resume = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_resume.csv')

In [ ]:
pd.set_option('max_colwidth', 800)

In [3]:
resume.head()

,Category,cleaned_resume,LabelEncoding
0,Data Science,programming language python pandas numpy scipy...,6
1,Data Science,education detail may 2013 may 2017 uitrgpv dat...,6
2,Data Science,area interest deep learn control system design...,6
3,Data Science,r python sap hana tableau sap hana sql sap han...,6
4,Data Science,education detail mca ymcaust faridabad haryana...,6

In [4]:
job.head()

,Job_title,cleaned_job,LabelEncoding
0,Flutter Developer,look hire expert flutter developer eligible po...,4
1,Django Developer,pythondjango developerlead codepdj 04 strong p...,3
2,Machine Learning,data scientist contractor bangalore responsibi...,8
3,iOS Developer,description strong framework outside io always...,14
4,Full Stack Developer,responsibility full stack engineer react role ...,5