In [17]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import pandas as pd
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
resume_vectors = pickle.load(open('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/models/resume_tfidf_vectorizer.pkl', 'rb'))

In [19]:
job = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_job.csv')
resume = pd.read_csv('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/data/Preprocessed/Cleaned_resume.csv')

In [20]:
job.head(2)

           Job_title                                        cleaned_job
0  flutter developer  look hire expert flutter developer eligible po...
1   django developer  pythondjango developerlead codepdj 04 strong p...

In [21]:
resume.head(2)

       Category                                     cleaned_resume
0  data science  programming language python pandas numpy scipy...
1  data science  education detail may 2013 may 2017 uitrgpv dat...

In [22]:
from sklearn.preprocessing import LabelEncoder

job_le = LabelEncoder()
job_le.fit(job['Job_title'])
job['Job_title'] = job_le.transform(job['Job_title'])

In [23]:
job_tfidf = TfidfVectorizer(stop_words='english')
job_vectors = job_tfidf.fit_transform(job['cleaned_job'])

In [24]:
pickle.dump(job_tfidf, open('/Users/macbookair/Desktop/project/Resume_Analyser/resume-job-matching/models/job_tfidf_vectorizer.pkl', 'wb'))